{% extends "layout.html" %}

{% block title %}
    Flack
{% endblock %}

{% block body %}

<div class="container">
<h1 class=" text-center">Flack - Logged in as: <span id="username"></span></h1>
<script type="text/javascript">showUsername();</script>
    <div class="inbox_people">
        <div class="chat_header">
            <h2>Chat List</h2>
                <input id="chatname" autocomplete="off" autofocus placeholder="New Chat" type="text">
                <button id="createchat" type="submit" class="btn btn-primary">New Chat</button>
        </div>

        <ul id="chats">
            {% for chat in chatnames %}
                <li><a href="{{ url_for('chat', chatname=chat) }}">{{ chatnames[chat] }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="expanded_chat">
        <div class="chat_header">
            {% if chatname %}
                <h2>Chat Name: <span id="chatnameflask">{{chatname}}</span><h2>
                <script type="text/javascript">storeChatname(); </script>
            {% else %}
                <h2>Chat Name: <span id="chatnamejs"></span></h2>
                <script type="text/javascript">
                    showChatname(); 
                    showMessages();
                </script>
            {% endif %}
        </div>
        <div class="show_chat">
            <ul id="messages">
                {% if chatname in chatsfull.keys() %}
                    {% for message in chatsfull[chatname] %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="instert_message">
            <input id="message" autocomplete="off" autofocus placeholder="New Message" type="text">
            <button id="newmessage" type="submit" class="btn btn-primary">New Message</button>
        </div>
    </div>
</div>
{% endblock %}