{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<!--   Hi {{ user.username }}!
 -->
<div id="allcont" class="container">
	<div class="title">
		<h1>Pinocchio's Pizza & Subs</h1>
		<p>74 Winthrop Street</p>
		<p>Harvard Square</p>
		<p>617-876-4897</p>
	</div>
	
	<div class="menu">
	    <h1>Menu</h1>
	    	<table>
				<tr>
					<td></td>
					<td style="font-weight: bold;">Small</td> 
				    <td style="font-weight: bold;">Large</td>
				</tr>
				{% for c in class_names %}
					<tr >
						<td style="font-weight: bold;">{{ c }}</td>
					</tr>

					{% for item in items %}
						{% if item.class_name == c %}
				 	<tr>
				    	<td width="65%">{{ item.name }}</td>
					    <td width="25%"><a href="#" onclick='javascript:addToCart("{{item.class_name}}", "{{item.name}}", "{{item.price}}", "{{item.num_toppings}}", "small");'>{{ item.price }}</a></td> 
					    <td width="25%"><a href="#" onclick='javascript:addToCart("{{item.class_name}}", "{{item.name}}", "{{item.price_big}}", "{{item.num_toppings}}", "large");'>{{ item.price_big }}</a></td>
					</tr>

						{% endif %}
						{% endfor %}						
				{% endfor %}
			</table>
	</div>

	<div class="cartdiv">
		<div class="cart">
			<h2>Cart</h2>
			<ul id="cartitems">
				
			</ul>
			<ul id="toppings">
				
			</ul>
			<hr>
			<h5 id="total"></h5>
			
		</div>

		<div class="logout"><p>User: {{ user }} - <a href="{% url 'logout' %}">logout</a></p></div>
	</div>
 	
{% else %}
	<p>You are not logged in</p>
	<p><a href="{% url 'signup' %}">signup</a></p>
	<p><a href="{% url 'login' %}">login</a></p>
{% endif %}

{% endblock %}