.container {
	max-width:1170px; 
	margin:auto;
}

img { 
	max-width:100%;
}

.expanded_chat {
  float: left;
  padding: 0 15px 0 25px;
  width: 70%;
}

.inbox_people {
  float: left;
  overflow: hidden;
  width: 30%; 
  border-right:1px;
}

.show_chat {
	height: 90%;
	border-bottom: 1px: 
}

.instert_message {
	position:fixed;
   	bottom:1%;
   	height:10%;
	/*height: 10%; border-top:1px;*/
}